/* =============== FOOTER SECTION =============== */
footer {
  background: #222;
  color: #f2f2f2;
  font-size: 14px;
  margin-top: 50px;
  padding: 18px;
  text-align: center;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-link {
  color: #f2f2f2;
  margin: 0 12px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  color: #ee0979;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.social-icons a {
  color: #f2f2f2;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ee0979;
}

.social-icons img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
